.font-style {
  font-family: 'Heebo', sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background-color: #47565a;

  .main-container-blocks {
    background-color: rgb(64, 71, 73);
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100%;

    .sidebar {
      background-color: rgb(53, 53, 53);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 1.5rem;

      a.logo {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 25px;
          height: 25px;
          fill: rgb(98, 98, 98);
        }
      }

      .icon-sidebar {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        align-items: center;
        justify-content: space-around;
        flex-basis: 20%;
        bottom: 0;
        position: fixed;
        min-height: 200px;

        a.style-icon-sidebar {
          svg {
            width: 15px;
            height: 15px;

            path {
              transition: all 300ms;
            }

            circle {
              transition: all 300ms;
            }
          }

          &:hover svg path {
            fill: rgb(255, 255, 255);
          }

          &.like:active svg path {
            fill: rgb(255, 92, 67);
          }
        }
      }
    }

    .main-page-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      padding-right: 1rem;
      padding-left: 1rem;

      .btn-menu-mobile {
        display: none;
      }

      .main-menu {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1.12px;
        justify-content: space-between;
        margin-bottom: 2rem;
        width: 100%;

        .item-menu {
          display: flex;
          padding: 1.5rem 0.5rem;

          li {
            margin-right: 35px;

            a {
              padding: 5px;
              transition: color 300ms;
              position: relative;

              &:hover {
                color: rgba(255, 255, 255, 0.75);
              }
            }

            &.active a::after {
              display: block;
              content: "";
              position: absolute;
              width: 10px;
              height: 2px;
              background-color: rgb(255, 92, 67);
              bottom: 0;
              left: 5px;
            }
          }
        }

        .label-shop {
          align-self: stretch;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(53, 53, 53);
          font-weight: 700;
          text-transform: uppercase;
          font-size: 13px;
          width: 120px;
          margin-right: -1rem;
        }
      }

      .content-product {
        display: flex;
        max-width: 1250px;
        padding: 0 120px 0 1.5rem;
        margin-bottom: 2rem;
        flex-wrap: wrap-reverse;
        justify-content: space-between;

        .main-cover-offer {
          display: flex;
          flex-direction: column;
          flex-basis: 50%;

          .cover {
            .product-picture {
              width: 100%;
            }
          }

          .container-feature {
            display: flex;
            justify-content: center;
            padding: 0.5rem 0;

            .container-performance {
              display: flex;
              flex-direction: column;
              line-height: 1.5;
              margin-right: 57px;

              &:last-child {
                margin-right: 0;
              }

              .feature {
                color: rgb(192, 189, 189);
                font-size: 13px;
              }

              .description-feature {
                font-weight: 700;
                font-size: 16px;
              }
            }
          }
        }

        .container-offer {
          display: flex;
          order: 3;

          .offer {
            display: flex;
            flex-direction: column;

            .name-offer {
              font-size: 56px;
              font-weight: 700;
              line-height: 1;
              margin-bottom: 1.5rem;
            }

            .description-offer {
              line-height: 1.5;
              word-break: break-word;
              margin-bottom: 1.5rem;
            }
          }
        }

        .price-block {
          padding: 1rem;
          background-color: rgb(53, 53, 53);
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: center;
          margin-bottom: -4px;

          .price {
            font-weight: 700;
            font-size: 30px;
            white-space: nowrap;
            margin-right: 1rem;

            span.cent {
              font-weight: 700;
              color: rgb(211, 211, 211);
              font-size: 17px;

              span.point {
                font-size: 23px;
              }
            }
          }

          .buttons {
            max-width: 198px;
            padding: 1rem 1.5rem;
            background-color: rgb(255, 92, 67);
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: background-color 300ms;

            .text-buy-now {
              font-weight: 700;
              font-size: 15px;
              transition: color 300ms;
              white-space: nowrap;
              margin-right: 1.5rem;
            }

            &:hover {
              background-color: rgb(168, 79, 66);

              .text-buy-now {
                color: rgba(255, 255, 255, 0.75);
              }
            }

            &:active {
              background-color: rgba(168, 79, 66, 0.5);
            }

            .basket-picture {
              border: 2px solid rgba(211, 211, 211, 0.4);
              border-radius: 50%;
              padding: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: border 300ms;

              .basket-svg {
                width: 15px;
                height: 15px;

                path {
                  fill: rgb(255, 255, 255);
                  transition: fill 300ms;
                }
              }

              &:hover .basket-picture {
                border-color: rgba(255, 255, 255, 0.75);
              }

              &:hover .basket-picture basket-svg path {
                fill: rgba(255, 255, 255, 0.75);
              }
            }
          }
        }
      }

      .preview-next-offer {
        display: flex;
        margin-bottom: 2rem;

        .preview-products-block {
          display: flex;

          .next-offer {
            background-color: rgb(255, 255, 255);
            display: flex;
            width: 305px;
            height: 160px;
            padding: 0.5rem;
            margin-right: 1rem;

            &:nth-child(even) {
              margin-right: 0;
            }

            .cover-offer {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 0.5rem;
              flex-basis: 50%;
              min-width: 100px;
              flex-grow: 1;

              img {
                width: 100px;
                height: auto;
              }
            }

            .info-block-offer {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              flex-grow: 1;
              flex-basis: 50%;

              .info-product {
                display: flex;
                flex-direction: column;

                .name-product {
                  color: rgb(98, 98, 98);
                  font-size: 15px;
                  margin-bottom: 0.5rem;
                }

                .cost-product {
                  color: rgb(53, 53, 53);
                  font-weight: 700;
                  font-size: 20px;
                  letter-spacing: -1.5px;
                }
              }

              .details-product {
                color: rgb(255, 92, 67);
                font-weight: 700;
                font-size: 13px;
                transition: color 300ms;

                &:hover {
                  color: rgb(168, 79, 66);
                }
              }
            }
          }
        }

        .arrows {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
          margin-right: 10px;
          width: 100px;
          align-items: center;

          .arrow {
            width: 50px;
            height: 50px;
            background-color: rgb(53, 53, 53);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 300ms;

            &:hover {
              background-color: rgb(255, 92, 67);
            }

            &:active {
              background-color: rgba(255, 92, 67, 0.5);
            }

            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  body {
    .main-container-blocks {
      .main-page-content {
        .main-menu {
          margin-bottom: 1rem;
          align-self: flex-end;

          .label-shop {
            display: none;
          }
        }

        .content-product {
          padding: 0 0.5rem;
          flex-direction: column-reverse;
          flex-wrap: wrap;

          .main-cover-offer {
            width: 50%;
            margin-top: -110px;
          }

          .container-offer {
            order: 3;
          }

          .price-block {
            align-self: flex-end;
          }
        }

        .preview-next-offer {
          padding: 0.5rem;
          justify-content: space-between;
          width: 100%;

          .arrows {
            width: auto;
            margin-right: 0;

          }
        }
      }

    }
  }

}


@media (max-width: 860px) {
  body {
    height: 100%;

    .main-container-blocks {
      .sidebar {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .main-page-content {
        margin-right: 0;
        margin-left: 0;

        .main-menu {
          margin-bottom: 1rem;
          padding: 1.5rem 1.5rem 0.5rem;
          width: 100%;
          display: flex;
          justify-content: flex-end;

          .item-menu {
            position: absolute;
            top: 0;
            right: 80px;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.9);
            align-items: center;

            li {
              margin-right: 0;
              margin-bottom: 2rem;

              &:last-child {
                margin-bottom: 0;
              }
            }

            &:not(.open) {
              display: none;
            }
          }

        }

        .btn-menu-mobile {
          display: block;
          position: relative;
        }

        .btn {
          width: 32px;
          height: 32px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: stretch;
          padding: 0;
          background: none;
          border: none;
          outline: none;
          z-index: 2;
        }

        .line {
          height: 2px;
          background-color: #fff;

        }

        .line-first {
          animation-name: toLines;
          animation-duration: 600ms;
          animation-fill-mode: backwards;

          animation-play-state: paused;
          animation-direction: reverse;
        }

        .line-last {
          animation-name: toLines2;
          animation-duration: 600ms;
          animation-fill-mode: backwards;

          animation-play-state: paused;
          animation-direction: reverse;
        }

        .line-middle {
          animation-name: toLinesMiddle;
          animation-duration: 600ms;
          animation-fill-mode: backwards;


          animation-play-state: paused;
          animation-direction: reverse;
        }

        .collapsed .line {
          animation-play-state: running;
          animation-direction: normal;
        }

        .btn.open .line-first {
          animation-name: toCross;
          animation-duration: 600ms;
          animation-fill-mode: forwards;

          animation-play-state: running;
          animation-direction: normal;
        }

        .btn.open .line-middle {
          animation-name: toCross2;
          animation-duration: 300ms;
          animation-fill-mode: forwards;

          animation-play-state: running;
          animation-direction: normal;
        }

        .btn.open .line-last {
          animation-name: toCross3;
          animation-duration: 600ms;
          animation-fill-mode: forwards;

          animation-play-state: running;
          animation-direction: normal;
        }

        .content-product {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto 1fr auto;
          padding-bottom: 0;

          .main-cover-offer {
            width: 300px;
            grid-area: 2/1/3/2;
            margin-top: 0;
            margin-bottom: 1.5rem;
            justify-self: center;

            .cover {
              width: 300px;
              margin-bottom: 1rem;
            }
          }

          .container-offer {
            grid-area: 1 / 1 / 2 / 2;

            .offer {
              .name-offer {
                margin-top: 0;
                margin-bottom: 1.5rem;

              }

              .description-offer {
                margin-bottom: 2.5rem;
              }
            }
          }

          .price-block {
            padding: 2rem .5rem;
            grid-area: 3 / 1 / 4 / 2;
            margin-bottom: 0;
            align-self: center;
            justify-content: flex-end;

            .price {
              margin-right: 1rem;
              font-size: 20px;
            }

            .buttons {
              padding: 0.5rem 1rem;

              .text-buy-now {
                margin-right: 1rem;
              }

              .basket-picture {
                padding: 0.5rem;
              }
            }
          }
        }

        .preview-next-offer {
          align-self: center;
          width: 100%;
          justify-content: space-between;

          .preview-products-block {
            flex-basis: 60%;

            .next-offer {
              margin-bottom: 1rem;
              width: 100%;
            }
          }

          .arrows {
            margin-right: 0;
          }
        }

      }
    }
  }

}

@media (max-width: 740px) {
  body .main-container-blocks .main-page-content .preview-next-offer .preview-products-block {
    flex-direction: column;
  }
}

@media (max-width: 475px) {
  body {
    .main-container-blocks {
      .main-page-content {
        margin: 0;

        .main-menu {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        .content-product {
          padding: 0 0.5rem;

          .main-cover-offer {
            width: 100%;

            .cover {
              width: 250px;
              align-self: center;
            }

            .container-feature {
              .container-performance {
                .description-feature {
                  font-size: 13px;
                }
              }
            }
          }

          .container-offer {
            .offer {
              .name-offer {
                font-size: 2rem;
              }
            }
          }
        }
      }

      .preview-next-offer {
        .preview-products-block {
          flex-grow: 1;

          .next-offer {
            width: 185px;
            margin-right: 0;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  body .main-container-blocks .main-page-content {
    padding-right: 0;
    padding-left: 0;
  }
}

@keyframes toCross {
  from {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(14px) rotate(0);
  }
  to {
    transform: translateY(14px) rotate(45deg);
  }
}

@keyframes toCross2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes toCross3 {
  from {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-18px) rotate(0);
  }
  to {
    transform: translateY(-16px) rotate(-45deg);
  }
}

@keyframes toLines {
  from {
    transform: translateY(14px) rotate(45deg);
  }
  50% {
    transform: translateY(14px) rotate(0);
  }
  to {
    transform: translateY(0) rotate(0);
  }
}

@keyframes toLinesMiddle {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toLines2 {
  from {
    transform: translateY(-18px) rotate(-45deg);
  }
  50% {
    transform: translateY(-14px) rotate(0);
  }
  to {
    transform: translateY(0) rotate(0);
  }
}



