/*font-family: 'Heebo', sans-serif;*/
.font-style {
    font-family: 'Heebo', sans-serif;
    color: rgb(255,255,255);
}
body {
    background-color: rgb(64,71,73);
    display: grid;
    grid-template-columns: 80px 1fr 1fr 160px;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
}
.sidebar {
    width: 80px;
    height: 100vh;
    background-color: rgb(53,53,53);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.label-shop {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53,53,53);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.12px;
}
.sidebar a {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar a svg {
    width: 15px;
    height: 15px;
    fill: rgb(98,98,98);
}
.sidebar a.logo svg {
    width: 25px;
    height: 25px;
}
.icon-sidebar {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-around;
    flex-basis: 30%;
}
.sidebar a svg path {
    transition: all 300ms;
}
.sidebar a:hover svg path {
    fill: rgb(255,255,255);
}
.sidebar a svg circle {
    transition: all 300ms;
}
.sidebar a:hover svg circle {
    fill: rgb(255,255,255);
}
.sidebar a.like:active svg path {
    fill: rgb(255,92,67);
}
.main-menu {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.12px;
}
.main-menu .item-menu {
    display: flex;
}
.main-menu .item-menu li {
    margin-right: 35px;
}
.main-menu .item-menu li a {
    padding: 5px;
    transition: color 300ms;
    position: relative;
}
.main-menu .item-menu li a:hover {
    color: rgba(255, 255, 255, 0.75);
}
.main-menu .item-menu li.active a::after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: rgb(255,92,67);
    bottom: 0;
    left: 5px;
}
.container-offer {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: stretch;
    display: flex;
}
.offer {
    display: flex;
    flex-direction: column;
}
.name-offer {
    font-size: 56px;
    font-weight: 700;
    margin-top: 70px;
}
.description-offer {
    line-height: 28px;
    margin-top: 29px;
}
.price-block {
    width: 397px;
    height: 120px;
    background-color: rgb(53,53,53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}
.price {
    font-weight: 700;
    font-size: 30px;
    margin-left: 28px;
}
span.cent {
    font-weight: 700;
    color: rgb(211,211,211);
    font-size: 17px;
}
span.point {
    font-size: 23px;
}
.price-block a.button {
    width: 198px;
    height: 80px;
    background-color: rgb(255,92,67);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color 300ms;
}
a.button:hover {
    background-color: rgb(255, 125, 89);
}
a.button:active {
    background-color: rgb(255, 160, 115);
}
.text-buy-now {
    font-weight: 700;
    font-size: 15px;
    transition: color 300ms;
}
a.button:hover .text-buy-now {
    color: rgba(255, 255, 255, 0.75);
}
.price-block a.button .basket-picture {
    border: 2px solid rgba(211,211,211, 0.4);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 300ms;
}
a.button:hover .basket-picture {
    border-color: rgba(255, 255, 255, 0.75);
}
.price-block a.button .basket-picture svg {
    width: 15px;
    height: 15px;
}
.price-block a.button .basket-picture svg path {
    fill: rgb(255,255,255);
    transition: fill 300ms;
}
a.button:hover .basket-picture svg path {
    fill: rgba(255, 255, 255, 0.75);
}
.preview-next-offer {
    display: flex;
    margin-top: auto;
}
.preview-next-offer .next-offer {
    width: 259px;
    height: 156px;
    background-color: rgb(255,255,255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 32px;
}
.preview-next-offer .next-offer:nth-child(even) {
    margin-right: 0;
}
.next-offer .cover-offer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-offer .cover-offer img {
    width: 100px;
    height: auto;
}
.next-offer .info-block-offer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-block-offer .info-product {
    display: flex;
    flex-direction: column;
}
.info-product {
    line-height: 23px;
}
.info-product .name-product {
    color: rgb(98,98,98);
    font-size: 15px;
}
.info-product .cost-product {
    color: rgb(53,53,53);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -1.5px;
}
.info-block-offer a.details-product {
    color: rgb(255,92,67);
    font-weight: 700;
    font-size: 13px;
    transition: color 300ms;
}
a.details-product:hover {
    color: rgb(168, 79, 66);
}
.main-cover-offer {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.cover {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.container-feature {
    display: flex;
    justify-content: center;
}
.container-performance {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin-right: 57px;
}
.container-performance:last-child {
    margin-right: 0;
}
.feature {
    color: rgb(192,189,189);
    font-size: 13px;
}
.description-feature {
    font-weight: 700;
    font-size: 15px;
}
.arrows {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 4 / 3 / 5;
    justify-self: center;
    align-self: end;
    height: 156px;
    align-content: center;
    justify-content: center;
}
a.arrow {
    width: 50px;
    height: 50px;
    background-color: rgb(53,53,53);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 300ms;
}
a.arrow:hover {
    background-color: rgb(255,92,67);
}a.arrow:active {
    background-color: rgba(255,92,67,0.5);
}
.arrow:first-child {
    margin-bottom: 10px;
}





